#chessboard .black-tile {
  background-color: rgba(106, 142, 35, 0.6);
}

#chessboard .white-tile {
  background-color: rgba(245, 222, 179, 0.6);
}

.piece-div {
  height: 80px;
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.tile .piece-div:hover {
  cursor: grab;
}

.tile .piece-div:active {
  cursor: grabbing;
}

.tile {
  display: grid;
  place-content: center;
}
